{%extends "index.html"%}
{%load static%}
{%block body%}

<section class="about light-gray" id="about" style="margin-bottom: 30px;">
    <div class="container" style="margin-top: 5px;">
      <div class="row">
        <div class="col-sm-5">
          <img class="img-responsive" src="{%static 'linerolaw/images/umang/b6.jpg'%}"
            alt="Official website : : Umang City Projects"
            title="Official website : : Umang City Projects" width="100%" style="padding-top:80px;">
        </div>
        <div class="col-sm-7 about-content" style="padding-left:40px">
          <h1 class="dart-mt-0">Buy Residential Plots near Jewar Airport</h1>
          <br>
          <p> Official Website ::Umang City Projects brings to you the <span
              style="font-weight:bold;">affordable residential plots near Jewar International Airport</span> on <strong>
              Yamuna Expressway,</strong> Greater Noida for your dream home. The residential plots are located in one of
            the most comfortable areas in Greater Noida with all kinds of both basic and modern facilities. <br><br>

            Several amenities are there for the community, including <b>luxurious reception </b> with <b> waiting
              lounge, Govt. electricity, water supply, wide roads, street lights, four
              green parks, gated complex and commercial complex amongst others.</b> Combining the simplest of old-time
            charisma with new-age amenities, Umang City promises an admirable neighbourhood, modest accessibility,
            open areas, endless maintenance and therefore, freedom to make your dream-home on Yamuna Expressway is that
            the core of this development.<br><br>

            Umang City Projects provides a chance to be a part of the modern township with an existing client base
            from several parts of the society comprising of Govt./Public Sectors, MNCs employees, serving & retired
            employees of central, state governments, doctors, teachers, engineers, chartered accountants, bank
            officials, Defence personnel, self-employed, etc.
            <br><br>

            Advantages:
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li> <b>Located on yamuna expressway </b></li>
                <li>Buddha international circuit</li>
                <li><b>Jewar/Noida International Airport </b></li>
                <li>India largest JP cricket stadium</li>
                <li>Film city Jewar</li>
                <li>Night safari</li>
                <li>Cargo airport</li>

              </ul>
            </div>

            <div class="col-sm-6">
              <ul>
                <li>Total seven universities around Yamuna Expressway</li>
                <li>International Freight Corridor</li>
                <li>DMIC center near Jewar</li>
                <li>Jewar junction</li>
                <li>NTPC power plant for electricity production</li>
                <li>Airport metro &amp; many more.</li>
              </ul>
            </div>

          </div>

          </p>


        </div>
      </div>
    </div>

  </section>

{%endblock%}