{%extends "index.html"%}
{%load static%}
{%block body%}

<section class="dart-counter-image-background dart-pt-40 dart-mb-0" id="amenities">

    <div class="container" style="margin-top:5px">

      <div class="row">
        <div class="col-lg-12">
          <div class="heading left-section vertical-heading dart-mb-50">
            <h2 class="dart-fw-100 dart-fs-42 text-center"><strong>Facilities and Amenities</strong></h2>
          </div>

          <div class="containers" style="margin-bottom:50px">
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/street-light.jpg'%}" alt="Street Lights"
                    title="Street Lights"><img src="{%static 'linerolaw/images/umang/street-light.jpg'%}"
                      title="Street Lights" alt="Street Lights" class="img-responsive"></a>
                  <div class="f-head">
                    <h4>Street Lights</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/wide-road.jpg'%}" alt="Wide Roads"
                    title="Wide Roads"><img src="{%static 'linerolaw/images/umang/wide-road.jpg'%}"
                      title="Wide Roads" alt="Wide Roads" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Wide Roads</h4>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/guard-copy.webp'%}" alt="24X7 Security"
                    title="24X7 Security"><img src="{%static 'linerolaw/images/umang/guard-copy.webp'%}"
                      title="24X7 Security" alt="24X7 Security" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>24X7 Security</h4>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/park.jpg'%}" alt="Parks"
                    title="Parks"><img src="{%static 'linerolaw/images/umang/park.jpg'%}"
                      title="Parks" alt="Parks" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Parks</h4>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/water-supply1.png'%}" alt="Water Supply"
                    title="Water Supply"><img src="{%static 'linerolaw/images/umang/water-supply2.webp'%}"
                      title="Water Supply" alt="Water Supply" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Water Supply</h4>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/SS-Gate.jpg'%}" alt="Gated and Walled Society"
                    title="Gated and Walled Society"><img src="{%static 'linerolaw/images/umang/SS-Gate.jpg'%}"
                      title="Gated and Walled Society" alt="Gated and Walled Society" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Gated and Walled Society</h4>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/commercial-building-complex.webp'%}" alt="Commercial Complex"
                    title="Commercial Complex"><img src="{%static 'linerolaw/images/umang/commercial-building-complex.webp'%}"
                      title="Commercial Complex" alt="Commercial Complex" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Commercial Complex</h4>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/drainage-system.jpeg'%}" alt="Drainage System"
                    title="Drainage System"><img src="{%static 'linerolaw/images/umang/drainage-system.jpeg'%}"
                      title="Drainage System" alt="Drainage System" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Drainage System</h4>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="img-wrapper margin-b30 border-green facilities">
                  <a href="{%static 'linerolaw/images/umang/community-center.jpg'%}" alt="Community Centre"
                    title="Community Centre"><img src="{%static 'linerolaw/images/umang/community-center.jpg'%}"
                      title="Community Centre" alt="Community Centre" class="img-responsive"></a>
                    <div class="f-head">
                      <h4>Community Centre</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <style>
            .facilities a img{
              height: 200px;
              width: 100%;
            }
            .f-head h4{
              color: black;
              text-align: center;
              font-weight: 800;
            }
          </style>


          <div class="ad-position profile ad">
            <div class="ad-slider" style="opacity: 1;">


              <div class="slider-list ">


                <img src="{%static 'linerolaw/images/1.png'%}"><br><br>


                <a href="#" class="name">Street Lights</a>



              </div>




              <div class="slider-list">

                <img src="{%static 'linerolaw/images/2.png'%}"><br><br>


                <a href="#" class="name">Wide Roads</a>




              </div>

              <div class="slider-list">


                <img src="{%static 'linerolaw/images/3.png'%}"><br><br>


                <a href="#" class="name">24X7 Security</a>

              </div>

              <div class="slider-list">




                <img src="{%static 'linerolaw/images/4.png'%}"><br><br>


                <a href="#" class="name">Parks</a>


              </div>

              <div class="slider-list">



                <img src="{%static 'linerolaw/images/5.png'%}"><br><br>


                <a href="#" class="name">Water Supply</a>


              </div>

              <div class="slider-list">


                <img src="{%static 'linerolaw/images/6.png'%}"><br><br>


                <a href="#" class="name">Gated and Walled Society</a>





              </div>

              <div class="slider-list">


                <img src="{%static 'linerolaw/images/7.png'%}"><br><br>


                <a href="#" class="name">Commercial Complex</a>


              </div>

              <div class="slider-list">


                <img src="{%static 'linerolaw/images/8.png'%}"><br><br>


                <a href="#" class="name">Drainage System</a>



              </div>


              <div class="slider-list">


                <img src="{%static 'linerolaw/images/9.png'%}"><br><br>


                <a href="#" class="name">Community Centre</a>


              </div>

            </div>
          </div>
        </div>
      </div>

    </div>



  </section>

{%endblock%}