{%extends "index.html"%}
{%load static%}
{%block body%}

<section class="pic " id="practice">
    <div class="container-fulid" style="margin-top:5px">
      <div class="row">
        <div class="col-md-12">
          <div class="dart-headingstyle-three text-center dart-mb-30"> <!--Style 3-->
            <h2 class="dart-heading">Umang City Homes Actual Site Pictures</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <section id="gallery">
            <div class="container-fulid text-center">
              <div id="image-gallery">
                <div class="row">
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n1.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n1.jpg'%}"
                          title="Official website : : Umang City Projects" alt="Plots Near Jewar Airport"
                          class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n2.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n2.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n3.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n3.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n4.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n4.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n5.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n5.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n6.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n6.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n7.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n7.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/n8.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/n8.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/b1.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/b1.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-20">
                    <div class="img-wrapper">
                      <a href="{%static 'linerolaw/images/umang/b2.jpg'%}"
                        alt="Official website : : Umang City Projects"
                        title="Official website : : Umang City Projects"><img
                          src="{%static 'linerolaw/images/umang/b2.jpg'%}"
                          alt="Official website : : Umang City Projects"
                          title="Official website : : Umang City Projects" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div><!-- End row -->
              </div><!-- End image gallery -->
            </div><!-- End container -->
          </section>
        </div>
      </div>


      <div class="row" style="margin-top:50px">
        <div class="col-md-12">
          <div class="dart-headingstyle-three text-center dart-mb-30"> <!--Style 3-->
            <h2 class="dart-heading">Umang City Residential Plots Sizes</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="{%static 'linerolaw/images/Harit-Vatika-site-plots-Sizes.jpg'%}"
            alt="Official website : : Umang City Projects"
            title="Official website : : Umang City Projects">
        </div>
      </div>
  </section>

{%endblock%}